<div class="padding">
  <h1 class="headline" id="help">About</h1>

  <p>
    <img src="assets/sondre.jpg" alt="Sondre" class="profile-image" />
    <strong>Brainbox</strong> apps is provided by
    <a href="https://sondreb.com" class="link" target="_blank">Sondre</a>. I
    have been coding my entire life, and Brainbox is my collection of apps.
  </p>

  <p>
    Some of my earlier apps are only memories today; such as
    <strong>InTheBoks</strong>, <strong>Flickr Downloadr</strong>,
    <strong>Image Cards for Kids</strong>, <strong>WebCam Studio</strong>,
    <strong>PixelWorld</strong> and more.
  </p>

  <p>
    Please consider
    <a href="https://github.com/sponsors/sondreb" target="_blank"
      >sponsoring me on GitHub</a
    >
    if you like my work.
  </p>

  <p>&nbsp;</p>

  <h2>GitHub Sponsors</h2>

  <div class="d-flex flex-wrap" data-target="remote-pagination.list">
    <div class="d-flex mb-1 mr-1" data-pagination-src="">
      <a
        target="_blank"
        class="d-inline-block"
        data-hovercard-type="user"
        data-hovercard-url="/users/dlandi/hovercard"
        data-octo-click="hovercard-link-click"
        data-octo-dimensions="link_type:self"
        href="https://github.com/dlandi"
        ><img
          class="avatar avatar-user"
          src="https://avatars.githubusercontent.com/u/3196088?s=60&amp;v=4"
          width="30"
          height="30"
          alt="@dlandi"
      /></a>
    </div>

    <div class="d-flex mb-1 mr-1">
      <a
        target="_blank"
        class="d-inline-block"
        data-hovercard-type="user"
        data-hovercard-url="/users/miladsoft/hovercard"
        data-octo-click="hovercard-link-click"
        data-octo-dimensions="link_type:self"
        href="https://github.com/miladsoft"
        ><img
          class="avatar avatar-user"
          src="https://avatars.githubusercontent.com/u/6504337?s=60&amp;v=4"
          width="30"
          height="30"
          alt="@miladsoft"
      /></a>
    </div>

    <div class="d-flex mb-1 mr-1">
      <a
        target="_blank"
        class="d-inline-block"
        data-hovercard-type="user"
        data-hovercard-url="/users/ssowellsvt/hovercard"
        data-octo-click="hovercard-link-click"
        data-octo-dimensions="link_type:self"
        href="https://github.com/ssowellsvt"
        ><img
          class="avatar avatar-user"
          src="https://avatars.githubusercontent.com/u/39719925?s=60&amp;v=4"
          width="30"
          height="30"
          alt="@ssowellsvt"
      /></a>
    </div>

    <div class="d-flex mb-1 mr-1">
      <a
        target="_blank"
        class="d-inline-block"
        data-hovercard-type="user"
        data-hovercard-url="/users/hydraneo/hovercard"
        data-octo-click="hovercard-link-click"
        data-octo-dimensions="link_type:self"
        href="https://github.com/hydraneo"
        ><img
          class="avatar avatar-user"
          src="https://avatars.githubusercontent.com/u/83483770?s=60&amp;v=4"
          width="30"
          height="30"
          alt="@hydraneo"
      /></a>
    </div>

    <div class="d-flex mb-1 mr-1">
      <a
        target="_blank"
        class="d-inline-block"
        data-hovercard-type="user"
        data-hovercard-url="/users/emilm/hovercard"
        data-octo-click="hovercard-link-click"
        data-octo-dimensions="link_type:self"
        href="https://github.com/emilm"
        ><img
          class="avatar avatar-user"
          src="https://avatars.githubusercontent.com/u/979260?s=60&amp;v=4"
          width="30"
          height="30"
          alt="@emilm"
      /></a>
    </div>

    <div class="d-flex mb-1 mr-1">
      <a
        target="_blank"
        class="d-inline-block"
        data-hovercard-type="user"
        data-hovercard-url="/users/dagefjestad/hovercard"
        data-octo-click="hovercard-link-click"
        data-octo-dimensions="link_type:self"
        href="https://github.com/dagefjestad"
        ><img
          class="avatar avatar-user"
          src="https://avatars.githubusercontent.com/u/3918703?s=60&amp;v=4"
          width="30"
          height="30"
          alt="@dagefjestad"
      /></a>
    </div>

    <div class="d-flex mb-1 mr-1">
      <a
        target="_blank"
        class="d-inline-block"
        data-hovercard-type="user"
        data-hovercard-url="/users/dangershony/hovercard"
        data-octo-click="hovercard-link-click"
        data-octo-dimensions="link_type:self"
        href="https://github.com/dangershony"
        ><img
          class="avatar avatar-user"
          src="https://avatars.githubusercontent.com/u/7487930?s=60&amp;v=4"
          width="30"
          height="30"
          alt="@dangershony"
      /></a>
    </div>
  </div>

  <p>Thank you to all my wonderful sponsors!</p>

  <p>&nbsp;</p>

  <p>
    <em
      >Knowledge is freedom. Software is the manifestation of knowledge. My
      software is therefore open source.</em
    >
    - Sondre
  </p>
</div>

<!-- <div class="topic-container">
@for(app of data.apps; track app) {

  <a class="topic" [routerLink]="['/r', app.id]">
    <h4>{{ app.name }}</h4>
    <p class="help-abstract">{{ app.description }}</p>
  </a>
} 

</div> -->
<!-- 
@if(loading) {
<h3 class="loading">Loading... please wait...</h3>
} @else { @for(group of data.groups | keyvalue; track group.key) {
<a [routerLink]="['/t', group.key]"
  ><h3>{{ group.key }}</h3></a
>
<div class="topic-container">
  @for(entry of group.value; track entry) {
  <a class="topic" [routerLink]="['/r', entry.id]">
    <h4>{{ entry.data.title }}</h4>
    <p class="help-abstract">{{ entry.data.abstract }}</p>
  </a>
  }
</div>
} } -->
