<div class="padding">
  <h1 class="headline" id="help">About</h1>

  <p><img src="assets/sondre.jpg" alt="Sondre" class="profile-image" />
    <strong>Brainbox</strong> is provided by Sondre. Since I was a little boy I have been coding,
    and Brainbox is my collection of apps.
  </p>

  <p>
    Some of my earlier apps are only memories today; such as <strong>InTheBoks</strong>, <strong>Flickr Downloadr</strong>, <strong>Image Cards for Kids</strong>, <strong>WebCam Studio</strong>, <strong>PixelWorld</strong> and more.
  </p>

  <p>&nbsp;</p>

  <p>
    <em>Knowledge is freedom. Software is the manifestation of knowledge. My
    software is therefore open and free.</em> - Sondre
  </p>
</div>

<!-- <div class="topic-container">
@for(app of data.apps; track app) {

  <a class="topic" [routerLink]="['/r', app.id]">
    <h4>{{ app.name }}</h4>
    <p class="help-abstract">{{ app.description }}</p>
  </a>
} 

</div> -->
<!-- 
@if(loading) {
<h3 class="loading">Loading... please wait...</h3>
} @else { @for(group of data.groups | keyvalue; track group.key) {
<a [routerLink]="['/t', group.key]"
  ><h3>{{ group.key }}</h3></a
>
<div class="topic-container">
  @for(entry of group.value; track entry) {
  <a class="topic" [routerLink]="['/r', entry.id]">
    <h4>{{ entry.data.title }}</h4>
    <p class="help-abstract">{{ entry.data.abstract }}</p>
  </a>
  }
</div>
} } -->
