<img class="app-icon-large" [src]="'/assets/icons/' + app.icon" />

<h1>{{ app.name }}</h1>

<h2>{{ app.description }}</h2>

<div class="topic-view">
  @if (app.link) {
  <a class="app-link" [href]="app.link" target="_blank"
    ><button>Open App</button></a
  >
  } @if (app.source) {
    &nbsp;
  <a class="app-link" [href]="app.source" target="_blank"
    ><button class="light-button">Source</button></a
  >
  }

  <div class="chips">
    @if (app.tags) { @for(tag of app.tags; track tag) {
    <span class="chip">{{ tag }}</span>
    } }
  </div>

  @if (app.screenshots) { @for(url of app.screenshots; track url) {
  <img
    [src]="'/assets/screenshots/' + id + '/' + url"
    class="screenshot"
    loading="lazy"
    decoding="async"
  />
  } }
  <div class="help-body" [innerHTML]="sanitizeHtml(app.body)"></div>
</div>
