:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  align-self: center;
}

.topic {
  width: 100%;
}

.topic-container {
  width: 100%;
}

.hero-container {
  /* width: 500px; */
  /* height: calc(100vh - 160px); */
  display: flex;
  gap: 2em;
  box-sizing: border-box;
  /* justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-items: center;
  justify-self: center; */
}

.hero-container > *:first-child {
  flex: 6;
}

.hero-container > *:last-child {
  flex: 4;
}

.hero {
  text-align: center;
  /* min-height: 400px; */
  /* height: calc(100vh - 80px - 80px); */
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* margin-bottom: 80px; */
  color: var(--section-text-color);
}

.hero-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
  color: var(--section-text-color);
}

.hero-container button {
  margin-right: 0.2em;
}

.hero-screenshot {
  width: 100%;
  border-radius: 4px;
  transform: perspective(1000px) rotateX(10deg) rotateY(-10deg) rotate(-4deg)
    translateX(-30px);
  box-shadow: var(--box-shadow);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* transform-origin: left center; */
}

.hero-screenshot:hover {
  transform: perspective(1000px) rotateX(5deg) rotateY(-5deg) rotate(-1deg)
    scale(1.7) translateX(-80px);
  box-shadow: var(--box-shadow-hover);
}

@media only screen and (max-width: 600px) {


  .hero-container {
    flex-direction: column;
  }

  .hero-image {
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
  }

  .hero-screenshot {
    width: 90%;
    transform: none;
  }

  .hero-screenshot:hover {
    transform: none;
    /* transform: skew(0deg) rotate(-1deg) scale(1.1) translateX(0px); */
  }
}
